<h1>Make your form here</h1>

<form class="" action="/pirates" method="post">
  <p>Pirate name: <input type="text" name="pirate[name]" id="p_name"></p>
  <p>Pirate weight: <input type="text" name="pirate[weight]" id="weight"></p>
  <p>Pirate height: <input type="text" name="pirate[height]" id="height"></p>
  <p>Ship name: <input type="text" name="pirate[ships][][name]" id="ship_name_1"></p>
  <p>Ship type: <input type="text" name="pirate[ships][][type]" id="ship_type_1"></p>
  <p>Ship booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"></p>
  <p>Ship name: <input type="text" name="pirate[ships][][name]" id="ship_name_2"></p>
  <p>Ship type: <input type="text" name="pirate[ships][][type]" id="ship_type_2"></p>
  <p>Ship booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"></p>
  <p><input type="submit"></p>

</form>
